body {
	margin: 0;
	background-color:#325C74;
}

p{
	font-size: 25px;
}

article {
	font-size: 20px;
	text-align: center;
}

article p {
	margin: auto;
	margin-top: 10px;
	color: #02D784;
	width: 50%
}

article a {
	font-weight: bold;
	color:#FF7F00;
}

h1{
	color:#02D784;
	font-family: 'Gabriela', serif;
	font-size:45px;
	text-align: center;
}

div{
	display:block;
	width:64%;
	margin-left:auto;
	margin-right:auto;
}

canvas{
	border:1px solid gray;
	height: 95%;
	width: 95%;
}

#audioControls{display:none;}

button{
	background-color: rgba(128, 128, 128, 0.3);
	font-family: 'Amaranth', sans-serif;
	font-size: 24pt;
	z-index: 1;
	position: fixed;
	border-radius: 15px;
}

button:hover{
	background-color: #fff;
}

button:focus{
	outline: 0;
}

#StartBut{
	top: 65%;
	left: 48%;
	margin-left: -41px;
}
#Start2PBut{
	top: 70%;
	left: 48%;
	margin-left: -41px;
}
#Start2But{
	top: 65%;
	left: 48%;
	margin-left: -41px;
}
#InstructBut{
	top: 75%;
	left: 48%;
	margin-left: -68px;
}
#keyLabel{
    position: fixed;
	top: 70%;
	left: 48%;
	margin-left: -241px;
    padding-bottom: 10px;
}
#PKey{
    position: fixed;
	top: 75%;
	left: 48%;
	margin-left: -108px;
    height: 20px;
    font-size: large;
}
#BackBut{
	top: 69%;
	left: 50%;
	margin-left: -60px;
}
#BeginBut{
	top: 87%;
	left: 74%;
}
#TryBut{
	top: 900px;
	left: 800px;
}
#logoutBut{
  top: 92.3%;
  left: 73.5%;
}
#logoutBut a{
  color:#02D784;
  font-family: 'Gabriela', serif;
  font-size:25px;
  text-align: center;
  text-decoration: none;
}
#gameKey{
  padding-top: 5px;
  color:#02D784;
  font-family: 'Gabriela', serif;
  font-size:35px;
  text-align: center;
}
#keyLabel{
  padding-top: 5px;
  color:#02D784;
  font-family: 'Gabriela', serif;
  font-size:35px;
  text-align: center;
}

/*	--	Resizing Start	--	*/
@media screen and (max-width: 1700px) {
	#StartBut{
		top: 60%;
	}
    #Start2PBut{
		top: 65%;
	}
	#InstructBut{
		top: 70%;
	}
	#BackBut{
		top: 67%;
	}
	#BeginBut{
		top: 85%;
	}
	#TryBut{

	}
   #Star2tBut{
		top: 60%;
	}
    #keyLabel{
		top: 65%;
	}
	#PKey{
		top: 70%;
	}
}

@media screen and (max-width: 1400px) {
	button {
		font-size: 20pt;
	}
	#StartBut{
		top: 52%;
	}
    #Start2PBut{
		top: 57%;
	}
	#InstructBut{
		top: 62%;
		margin-left: -65px;
	}
	#BackBut{
		top: 59%;
	}
	#BeginBut{
		top: 77%;
	}
	#TryBut{

	}
    #Start2But{
		top: 52%;
	}
    #keyLabel{
		top: 57%;
	}
	#PKey{
		top: 62%;
		margin-left: -65px;
	}
}

@media screen and (max-width: 1100px) {
	button {
		font-size: 16pt;
	}
	#StartBut{
		top: 43%;
	}
    #Start2PBut{
		top: 48%;
	}
	#InstructBut{
		top: 53%;
		margin-left: -55px;
	}
	#BackBut{
		top: 58%;
	}
	#BeginBut{
		top: 76%;
	}
	#TryBut{

	}
    #Start2But{
		top: 43%;
	}
    #keyLabel{
		top: 48%;
	}
	#PKey{
		top: 53%;
		margin-left: -55px;
	}
}

@media screen and (max-width: 1100px) {
	button {
		position: absolute;
	}
}




